/* You can include a font from Google Fonts like this */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
 /* background-color: #00FA9A;*/
 background-color:  black;
}

h1 {
  padding:  0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color:  white;
}

small {
  padding:  0px;
  margin: 0px;
  color: #808080;
  font-family: 'Roboto-Thin', sans-serif;
}

p {
  font-family: 'Roboto-Black', sans-serif;
  color:  white;
}

br {
   display: block;
   margin: 10px 0;
   line-height:20px;

}

.sub-header {
  vertical-align: middle;
}

.sub--header--avatar {
  float: left;
  display: block;
  margin-right: 5px;
}

.sub--header--avatar img {
  border-radius: 50%;
  float: left;
}

.container {
  width: 450px;
  padding: 10px;
/*  margin: 10px;
*/  /*text-align:  center;*/
}
