<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <h1><%= options[:title] %></h1>

      <div class="sub-header">
        <div class="sub--header--avatar">
          <img width=25 height=25 src="<%= options[:avatar_url] %>" />
        </div>
        <small><%= options[:username] %></small>
      </div>

      <p><%= options[:content] %></p>
    </div>
  </body>
</html>
